node-red/data/flows.json
[
    {
        "id": "d5b1c57c60b157e5",
        "type": "tab",
        "label": "Dusk",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "56f19455987384ae",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30",
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": ": ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "default",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": false
    },
    {
        "id": "11719e1272bb90a6",
        "type": "server-state-changed",
        "z": "d5b1c57c60b157e5",
        "name": "At Dawn",
        "server": "56f19455987384ae",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.sun_next_dawn",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 80,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c7902b328c25b626",
        "type": "server-state-changed",
        "z": "d5b1c57c60b157e5",
        "name": "At Dusk",
        "server": "56f19455987384ae",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "sensor.sun_next_dusk",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "2a64104819a65bdb",
        "type": "server-state-changed",
        "z": "d5b1c57c60b157e5",
        "name": "Goodnight Manual Trigger",
        "server": "56f19455987384ae",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "scene.goodnight",
        "entityIdType": "exact",
        "outputInitially": false,
        "stateType": "str",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": true,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 170,
        "y": 540,
        "wires": [
            [
                "0e73ec8c80bce4d2",
                "7452b882b3633279"
            ]
        ]
    },
    {
        "id": "0e73ec8c80bce4d2",
        "type": "api-call-service",
        "z": "d5b1c57c60b157e5",
        "name": "Theater Tv Off",
        "server": "56f19455987384ae",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [
            "5fb3ec952cb0d05477bfdc11794ec266"
        ],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 720,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7452b882b3633279",
        "type": "api-call-service",
        "z": "d5b1c57c60b157e5",
        "name": "Living Room TV Off",
        "server": "56f19455987384ae",
        "version": 5,
        "debugenabled": false,
        "domain": "media_player",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [
            "e09795b98b77e6770acf098abbd7830a"
        ],
        "entityId": [],
        "data": "",
        "dataType": "jsonata",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 730,
        "y": 540,
        "wires": [
            []
        ]
    }
]